
/* 
1. Posicionamiento
2. Modelo Caja (Box model)
3. Tipografía
4. Efectos Visuales 
5. Otros  
*/

/* ESTILOS GENERALES */

:root{

/* Colores */

--bitcoin-orange:#F7931A;
--soft-orange:#FFE9D5;
--secondary-blue:#1A9AF7; 
--soft-blue:#E7F5FF;
--warm-black:#201E1C;
--warm-black1:#201E1C;
--black:#282623;
--grey:#BABABA;
--off-white:#FAF8F7;
--just-white:#FFFFFF;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{

    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    
}

/* HEADER STYLE */
/* SECTIONS STYLE */

main{
    width:100%;
    height: auto;
    background-color: var(--off-white);
}

.main-exchange-container{

    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container--title{

    width: 100%;
    min-width: 288px;
    max-width: 900px;
    margin:0 auto; /*Se posicione en el centro*/
}

.main-exchange-container .backgroundImg {

    width: 200px;
    height: 200px;
    margin:0 auto; /*Posiciona en el centro, ya que no ocupa el 100*/
    margin-bottom:50px ;
    background-image: url("./assets/img/Bitcoin.svg");
}

/* FOOTER STYLE */